<h1>Workouts</h1>

<ul>
  <% @workouts.each do |workout| %>
    <div>
      <h2>
        <%= workout.title %>
      </h2>
      <p>
        <%= workout.description %>
      </p>
    </div>
    <% end %>
</ul>
